
@model List<mvcCustomer.Models.CustomerSummary>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4"><a asp-controller="Customers" asp-action="Index" >View List of Customers</a></h3>
</div>
