
@model List<mvcCustomer.Models.CustomerSummary>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><a asp-controller="Customers" asp-action="Index" >Customers</a></h1>
</div>
